@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

#sidebar {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  overflow-y: auto;
  overflow-x: hidden;
  top: 0;
  left: 0;
  /* max-height: calc(100vh - 9rem); */
}

#container-fluid {
  position: absolute;
}

#sidebar .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.3rem;
  display: inline-block;
}

.sidebar-heading a:hover {
  color: rgb(0, 105, 217);
  cursor: pointer;
  text-decoration: none;
}

#sidebar .list-group {
  width: 26rem;
}

#sidebar ul {
  list-style-type: none;
  padding: 0px;
}

#sidebar ul.components {
  border-bottom: 1px solid rgb(218, 224, 229);
}

#sidebar ul p {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: rgba(0, 0, 0, 0.637);
}

#sidebar ul li.active>a, a[aria-expanded="true"] {
  color: rgb(0, 0, 0);
}

#sidebar ul li ul li a {
  background:  rgb(255, 255, 255) !important;
  color: black;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
}


#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar {
  margin-left: 0;
}

#sidebar .sidebar-heading {
  padding: 13px;
}

@media (min-width: 768px) {
  #sidebar {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar {
    margin-left: -26rem;
  }
}


/* 
   The custom scrollbar I am using is not available in Firefox, Internet Explorer or Edge, and for those browsers the default scrollbar is used 
   Otherwise, this custom scrollbar will be used.
   Basically if you are using Chrome you get a funky custom scrollbar

Inspiration for scrollbar: https://stackoverflow.com/questions/9251354/css-customized-scroll-bar-in-div
*/
body::-webkit-scrollbar-track, #sidebar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(158, 158, 158, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar, #sidebar::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(158, 158, 158, 0.3);
}

body::-webkit-scrollbar-thumb, #sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(158, 158, 158, 0.3);
  background-color: rgb(207, 207, 207);
}